<app-navigation></app-navigation>
<div id="component-one">
  <app-cmp-one></app-cmp-one>
</div>
<div id="component-two">
  <app-cmp-two></app-cmp-two>
</div>
<div class="row" style="margin-left: 100px;">
  <div class="col-md-5">
<div id="component-three">
  <app-cmp-three></app-cmp-three>
</div>
</div>
<div class="col-md-5">
<div id="component-four">
  <app-cmp-four></app-cmp-four>
</div>
</div>
</div>
<div class="row" style="margin-left: 100px;">
  <div class="col-md-5">
<div id="component-five">
  <app-cmp-five></app-cmp-five>
</div>
</div>
<div class="col-md-5">
<div id="component-six">
  <app-cmp-six></app-cmp-six>
</div>
</div>
</div>