<div class="container">
    <div class="row">
     <div class="col-lg-12 col-md-6 col-sm-8 col-xs-10 d-none d-lg-block">
       <div style="height:auto;width: 100%; border:1px solid red;margin:10px auto;">
          <h3>Verbesse Dein Profil</h3>
         <div class="row">
           <div class="col-md-4">
              <div style="border: 1px solid #cccccc;">
                  <p style="font-weight: bold;">Lade Hockweritgae Bilder Denier Fahrshule Hoch</p>
                 </div> 
           <button class="btn btn-primary" (click)="get_data()">Get Mocked Data</button>
          </div>
          <div class="col-md-4">
              <div style="border: 1px solid #cccccc;">
                  <p style="font-weight: bold;">Lade Hockweritgae Bilder Denier Fahrshule Hoch</p>
                 </div> 
              <button class="btn btn-primary" (click)="get_data()">Get Mocked Data</button>
          </div>
          <div class="col-md-4 ">
              <div style="border: 1px solid #cccccc;">
                  <p style="font-weight: bold;">Lade Hockweritgae Bilder Denier Fahrshule Hoch</p>
                 </div> 
              <button class="btn btn-primary" (click)="get_data()">Get Mocked Data</button>
          </div>
        </div>
      </div>
     </div>
    </div>
  </div>