<div class="container">
    <div class="row">
     <div class="col-lg-12 col-md-6 col-sm-8 col-xs-10">
       <div style="height: auto;width: 100%; border:1px solid red;margin:10px auto;">
          <h2>Schelur</h2>
         <div class="row">
            <div class="col-md-12">
                <div style="border:1px solid #ccc">
                  <img class="img-responsive" src="assets/user-profile.png" style="height: 25px;">
                  <span>Achsel hat enie Oberlandfahrt mit Peter Urm 12:00 Uhr</span>
            </div>
            <div style="border:1px solid #ccc">
                <img class="img-responsive" src="assets/user-profile.png" style="height: 25px;">
                <span>Achsel hat enie Oberlandfahrt mit Peter Urm 12:00 Uhr</span>
          </div>
          <div style="border:1px solid #ccc">
              <img class="img-responsive" src="assets/user-profile.png" style="height: 25px;">
              <span>Achsel hat enie Oberlandfahrt mit Peter Urm 12:00 Uhr</span>
        </div>
            </div>
        </div>
      </div>
     </div>
    </div>
  </div>